<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <style> body {
        background-image: url(https://media.99images.com/photos/wallpapers/creative-graphics/pastel-green%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-9gjbe.jpg);
    }
form {
    text-align: center;
    background-size: 0cm;
}
i{
    position:relative;
    left: 18px;
    top: 2px;
    color: rgb(10, 10, 10);
}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="center">
    <form onsubmit="forgotpassword(event)" method="POST">
        <h1 style="color:rgb(251, 252, 251)">Reset Password</h1>
        <i class='bx bx-mail-send'></i>
    <input style="position: relative; ;right: 11px ;width: 250px; height: 35px;padding-left: 30px;  background: rgba(255, 255, 255, 0.231);border: none;border-radius: 40px;outline: none" type="email" Name="EmailId" id="emailId" placeholder="Please enter your email!"><br><br>
    <button style="width: 250px; height: 35px;  background: rgba(16, 16, 16, 0.463);border: none;border-radius: 40px;" id="Email">Send</button>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<script>
    function forgotpassword(event){
        event.preventDefault(event)
        email = event.target.EmailId.value
        const token = localStorage.getItem('token')
    
        const obj = {
                email
        }
        
        axios.post('http://54.249.187.183:3000/password/forgotpassword', obj, {headers: {'Authorization': token}})
        .then((response)=>{
            if(response.status === 202){
            document.body.innerHTML += '<div style="color:green;">Mail Successfuly sent <div>'
        } else {
            throw new Error('Something went wrong!!!')
        }
    }).catch(err => {
        document.body.innerHTML += `<div style="color:red;">${err} <div>`;
    })
        
    }
</script>
</body>
</html>